:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-grey: rgb(128, 128, 128);

  --font: "Kumbh Sans", sans-serif;
}

/*  
------------------------------------------------------------- § HTML
*/
html {
  font-size: 18px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-family: var(--font);
  background: url(images/bg-pattern-bottom.svg) 50vw 50vh no-repeat,
    url(images/bg-pattern-top.svg) bottom 40vh right 50vw no-repeat,
    var(--dark-cyan);
  color: var(--dark-blue);
}

h4,
h6,
p {
  margin: 0;
}

h6 {
  font-size: 0.8rem;
}

/*  
    ------------------------------------------------------------- § Card
*/
.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.profile-card {
  background: white;
  width: 100%;
  max-width: 350px;
  border-radius: 0.8rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 70px 0px rgba(0, 0, 0, 0.3);
}

/*  
    ------------------------------------------------------------- § Top
*/
.profile-card__top {
  background: url(images/bg-pattern-card.svg) 0 0;
  height: 140px;
}

/*  
    ------------------------------------------------------------- § Middle
*/
.profile-card__img {
  border-radius: 500px;
  border: 0.3rem solid white;
  background-color: white;
  margin-top: -53px;
}

.profile-card__name span,
.profile-card__city {
  font-weight: normal;
  color: var(--dark-grey);
}

.profile-card__name {
  margin-top: 0.9rem;
}

.profile-card__name span {
  color: var(--dark-grayish-blue);
  margin-left: 0.3em;
}

.profile-card__city {
  margin: 0.7em 0 0;
}

/*  
    ------------------------------------------------------------- § Bottom
*/
.profile-card__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid rgb(230, 230, 230);
  padding: 1.4rem;
  margin: 1.4rem 0 0 0;
}

.profile-card__meta__title {
  font-size: 0.5rem;
  letter-spacing: 0.2em;
  color: var(--dark-grayish-blue);
  margin-top: 0.3rem;
}
